@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #101729;
  color: #fff;
  font-family: "Lato", sans-serif;
  width: 100vw;
  height: 100vh;
}
@media screen and (max-width: 575.98px) {
  body {
    font-size: 14.4px;
  }
}
@media screen and (min-width: 576px) {
  body {
    font-size: 14.4px;
  }
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#container_confirmation_flex {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: rgba(59, 81, 81, 0.281);
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container_confirmation_flex .container_confirmation_flex.active {
  display: flex;
}

#div_confirmation {
  width: 400px;
  height: 120px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 575.98px) {
  #div_confirmation {
    width: 300px;
  }
}
#div_confirmation p {
  color: black;
  text-align: center;
}
#div_confirmation div {
  display: flex;
  justify-content: space-around;
}
#div_confirmation #button_yes {
  width: 100px;
}
#div_confirmation #button_yes:hover {
  background-color: grey;
}
#div_confirmation #button_no {
  width: 100px;
}
#div_confirmation #button_no:hover {
  background-color: grey;
}

#top_menu {
  height: 7vh;
  display: flex;
  padding-left: 30%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #161D2F;
  border-radius: 0 0 10px 10px;
}
@media screen and (max-width: 575.98px) {
  #top_menu {
    height: 7vh;
    padding: 15px;
  }
}
@media screen and (max-width: 991.98px) {
  #top_menu {
    gap: 15px;
  }
}
#top_menu #form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#top_menu input {
  width: 25vw;
  border-radius: 3px 0 0 3px;
  padding: 4px;
  background: rgb(255, 255, 255) no-repeat right 10px center;
  border: solid 1px rgb(94, 85, 85);
}
@media screen and (max-width: 575.98px) {
  #top_menu input {
    width: 43vw;
  }
}
#top_menu #rechercher {
  height: 25px;
  padding: 0 5px 0 5px;
  border-radius: 0 5px 5px 0;
}
@media screen and (max-width: 575.98px) {
  #top_menu #rechercher {
    width: auto;
    height: 25px;
    padding: 0 5px 5px 5px;
  }
}
#top_menu .refresh {
  display: none;
  width: 50px;
}
@media screen and (max-width: 575.98px) {
  #top_menu .refresh {
    height: 25px;
  }
}
#top_menu .refresh.show {
  display: block;
}
#top_menu #csv {
  text-decoration: none;
  color: #fff;
  padding-right: 20px;
}
@media screen and (max-width: 575.98px) {
  #top_menu #csv {
    justify-content: flex-end;
  }
}
#top_menu #csv #button_csv {
  padding: 0;
}
@media screen and (max-width: 575.98px) {
  #top_menu #csv #button_csv {
    width: 30px;
    height: 30px;
  }
}
#top_menu #csv:hover button svg {
  fill: black;
}
#top_menu #csv svg {
  fill: #fff;
}
#top_menu p {
  font-size: 25px;
  text-transform: uppercase;
  padding: 5px 15px;
}

header {
  display: flex;
  height: 7vh;
  justify-content: space-between;
  align-items: center;
  background-color: #101729;
  padding: 20px;
  border-radius: 10px 10px 10px 0;
}
@media screen and (max-width: 575.98px) {
  header {
    flex-direction: row;
    height: auto;
  }
}
header #div_header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
@media screen and (max-width: 575.98px) {
  header #div_header {
    flex-direction: column;
    gap: 5px;
  }
}
@media screen and (max-width: 767.98px) {
  header #div_header {
    flex-direction: column;
  }
}
header #div_header #log-out {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border-radius: 25px;
  padding: 10px;
}
header #div_header #log-out:hover {
  background-color: #fff;
  color: #101729;
}
header h2 {
  font-size: 44.8px;
}
@media screen and (max-width: 575.98px) {
  header h2 {
    display: none;
  }
}
@media screen and (max-width: 991.98px) {
  header h2 {
    font-size: 24px;
  }
}
header h3 {
  font-size: 30.4px;
}
@media screen and (max-width: 575.98px) {
  header h3 {
    font-size: 27.2px;
    margin: 0 0 10px 0;
  }
}

button {
  margin-top: 0;
  background-color: rgb(64, 78, 95);
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 150px;
  color: #fff;
}
button:hover {
  color: #101729;
  background-color: #fff;
}
@media screen and (max-width: 575.98px) {
  button {
    font-size: 12.8px;
    width: 100%;
  }
}

.element_principal {
  display: flex;
}
.element_principal .tableau {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.element_principal .tableau #p_nbr {
  padding: 10px;
}
.element_principal .tableau .td0 {
  padding-left: 2vw;
}
@media screen and (max-width: 575.98px) {
  .element_principal .tableau .td1 {
    display: none;
  }
}
.element_principal .tableau #show_more {
  padding: 10px;
}
.element_principal .tableau table {
  width: 100%;
}
.element_principal .tableau table svg {
  padding: 0 5px 0 5px;
  cursor: pointer;
}
.element_principal .tableau table thead {
  background-color: #161D2F;
  border-radius: 5px;
  height: 5vh;
}
.element_principal .tableau table thead th {
  text-align: start;
}
@media screen and (max-width: 575.98px) {
  .element_principal .tableau table thead .thToHide {
    display: none;
  }
}
.element_principal .tableau table tbody {
  margin-bottom: 50px;
}
.element_principal .tableau table tbody tr {
  height: 6vh;
}
.element_principal .tableau table tbody tr:hover {
  background-color: rgb(64, 78, 95);
}
.element_principal .tableau table tbody tr td {
  border-bottom: solid 1px rgb(59, 56, 56);
}
@media screen and (max-width: 991.98px) {
  .element_principal .tableau table tbody tr td {
    padding-left: 40px;
  }
}
.element_principal .tableau table tbody tr td img {
  cursor: pointer;
}

/*# sourceMappingURL=style_dashboard_mailing_list.css.map */
