@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #101729;
  color: #fff;
  font-family: "Lato", sans-serif;
  width: 100vw;
  height: 100vh;
  padding: 0.5vw;
}

#container_confirmation_flex {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: rgba(59, 81, 81, 0.281);
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container_confirmation_flex .container_confirmation_flex.active {
  display: flex;
}

.div_confirmation {
  width: 400px;
  height: 120px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
}
.div_confirmation p {
  color: black;
  text-align: center;
}
.div_confirmation div {
  display: flex;
  justify-content: space-around;
}
.div_confirmation #button_yes {
  width: 100px;
}
.div_confirmation #button_yes:hover {
  background-color: grey;
}
.div_confirmation #button_no {
  width: 100px;
}
.div_confirmation #button_no:hover {
  background-color: grey;
}

header {
  display: flex;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  background-color: #161D2F;
  padding: 20px;
  border-radius: 10px 10px 10px 0;
}
header h2 {
  font-size: 44.8px;
}
header h3 {
  font-size: 24px;
}

button {
  margin-top: 0px;
  background-color: rgb(64, 78, 95);
  border: none;
  border-radius: 5px;
  height: 40px;
  color: #fff;
}
button:hover {
  color: #101729;
  background-color: #fff;
}

.element_principal {
  display: flex;
}
.element_principal aside {
  height: 80vh;
  width: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #161D2F;
  border-radius: 0 0 10px 10px;
}
.element_principal aside input {
  width: 80%;
  border-radius: 3px;
  padding: 4px;
  border: none;
  background: rgb(255, 255, 255) no-repeat right 10px center;
  border: solid 1px rgb(94, 85, 85);
}
.element_principal aside .log a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border: solid 1px #fff;
  border-radius: 25px;
  padding: 10px;
}
.element_principal aside .log a:hover {
  background-color: #fff;
  color: #101729;
}
.element_principal aside .log p {
  font-size: 25px;
  text-transform: uppercase;
  border: solid 1px grey;
  padding: 5px 15px;
}
.element_principal .tableau {
  width: 100%;
  height: 80vh;
}
.element_principal .tableau table {
  width: 100%;
  padding: 10px;
}
.element_principal .tableau table svg {
  padding-left: 5px;
  cursor: pointer;
}
.element_principal .tableau table thead {
  background-color: #161D2F;
  border-radius: 5px;
  height: 5vh;
}
.element_principal .tableau table thead th {
  text-align: start;
}
.element_principal .tableau table tbody {
  margin-bottom: 50px;
}
.element_principal .tableau table tbody tr {
  height: 6vh;
}
.element_principal .tableau table tbody tr td {
  border-bottom: solid 1px rgb(59, 56, 56);
}
.element_principal .tableau table tbody tr td img {
  cursor: pointer;
}/*# sourceMappingURL=style_dashboard_mailing_list.css.map */