@import "variables";
@import "colors";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300&display=swap");
@mixin buttonB {
  margin-top: 0;
  background-color: rgb(64, 78, 95);
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 150px;
  color: #fff;
  &:hover {
    color: $colorPrimaire;
    background-color: #fff;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: $colorPrimaire;
  color: #fff;
  font-family: "Lato", sans-serif;
  width: 100vw;
  height: 100vh;

  @media screen and (max-width: 575.98px) {
  font-size: $fontTaille*0.9;
  }
  @media screen and (min-width: 576px) {
    font-size: $fontTaille*0.9;
  }
  @media screen and (min-width: 768px) {
    font-size: $fontTaille*1;
  }

}
//------Toast--------
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#container_confirmation_flex {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: rgba(59, 81, 81, 0.281);
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;

  .container_confirmation_flex.active {
    display: flex;
  }
}
//--------------
//------div de confirmation de suppression----
#div_confirmation {//#todo
  width: 400px;
  height: 120px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 575.98px) {
    width: 300px;
  }

  p {
    color: black;
    text-align: center;
  }
  div {
    display: flex;

    justify-content: space-around;
  }
  #button_yes {
    width: 100px;
    &:hover {
      background-color: grey;
    }
  }
  #button_no {
    width: 100px;
    &:hover {
      background-color: grey;
    }
  }
}
//--------------
#top_menu {
  //position: fixed;
  height: 7vh;
  //width: 100vw;
  display: flex;
  padding-left: 30%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $colorSecondaire;
  border-radius: 0 0 10px 10px;

  @media screen and (max-width: 575.98px) {
//flex-direction: column;
//gap: 15px;
    height: 7vh;
    padding:15px;
  }
  @media screen and (max-width: 991.98px) {
gap: 15px;

  }

  #form {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 1.5rem;




    }


  input {
    width: 25vw;
    border-radius: 3px;
    padding: 4px;

    background: rgb(255, 255, 255) no-repeat right 10px center;
    border: solid 1px rgb(94, 85, 85);
    @media screen and (max-width: 575.98px) {
      width: 43vw;
    }
  }
  #rechercher {
    @media screen and (max-width: 575.98px) {
width:auto ;
      height: 25px;
      padding: 0 15px 0 15px;
    }

}



  .refresh{
    display: none;
    width: 50px;
    @media screen and (max-width: 575.98px) {

      height: 25px;
      //padding: 0 15px 0 15px;
    }

    &.show {
      display: block;
    }
  }
  #csv {
    text-decoration: none;
    color: #fff;
    padding-right: 20px;
    @media screen and (max-width: 575.98px) {
      justify-content: flex-end;
    }
    #button_csv {
padding: 0;
      @media screen and (max-width: 575.98px) {

        width: 30px;
        height: 30px;

      }

    }

    &:hover button svg {
      fill: black;
    }

    svg {
      fill: #fff;

    }
  }






    p {
      font-size: 25px;
      text-transform: uppercase;
      //border: solid 1px grey;
      padding: 5px 15px;
    }


}
header {
  display: flex;
  height: 7vh;
  justify-content: space-between;
  align-items: center;
  background-color:$colorPrimaire;
  padding: 20px;
  border-radius: 10px 10px 10px 0;
  @media screen and (max-width: 575.98px) {
    flex-direction: row;
    height: auto;

  }
#div_header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  @media screen and (max-width: 575.98px) {
flex-direction: column;
gap: 5px;
  }
  @media screen and (max-width: 767.98px) {
    flex-direction: column;
  }
 #log-out {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    //border: solid 1px #fff;
    border-radius: 25px;
    padding: 10px;
    &:hover {
      background-color: #fff;
      color: $colorPrimaire;
    }
  }

}
 
  h2 {
    font-size: $fontTaille * 2.8;
    @media screen and (max-width: 575.98px) {
      //font-size: $fontTaille*1;
      //margin: 0 0 2px 0;
      display: none;
    }
    @media screen and (max-width: 991.98px) {
      font-size: $fontTaille*1.5;


    }

    }

  h3 {
    font-size: $fontTaille * 1.9;
    @media screen and (max-width: 575.98px) {
      font-size: $fontTaille * 1.7;
      margin: 0 0 10px 0;
      //display: none;
    }
  }
  
  
}

button {
  @include buttonB;
  @media screen and (max-width: 575.98px) {
    font-size: $fontTaille*0.8;
    width: 100%;
  }
}

.element_principal {
  display: flex;



  .tableau {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;

    #p_nbr {
      padding: 10px;
    }
    .td0 {
      padding-left: 2vw;
    }
    .td1{
      @media screen and (max-width: 575.98px) {
        display: none;
      }}

    #show_more {
      padding: 10px;
    }
    table {


      width: 100%;
     // padding-left: 11%;

      svg {
        padding: 0 5px 0 5px;
        cursor: pointer;
      }
      thead {
        background-color: $colorSecondaire;
        border-radius: 5px;
        height: 5vh;
        th {
          text-align: start;
        }
        .thToHide{
          @media screen and (max-width: 575.98px) {
            display: none;
          }

        }
      }
      tbody {
        margin-bottom: 50px;
        tr {
          height: 6vh;
          &:hover {
            background-color: rgb(64, 78, 95);
          }
          td {
            border-bottom: solid 1px rgb(59, 56, 56);
            @media screen and (max-width: 991.98px) {
              padding-left: 40px;
            }
            img {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
