@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Play&display=swap');
:root {
    --font-title:'Cinzel', serif;
    --font-text: 'Play', sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url(/img/fond-giger-png.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: #fff;
    font-family: var(--font-text);
}
/*general----------------*/
.paragraphe {
    font-size: 32px;
}
.title-page {
    font-size: 40px;
    font-family: var(--font-title);
    font-weight: normal;
    
}

/*general-----------------*/
/*scroll horizontal*/
.flex {
 
  display: flex;
  flex-direction: column;
  /* width: 100vh;
  /transform: rotate(90deg) translateX(-100vh);
  transform-origin: top left;  */

    
}
/* .container {
    width: 100vw;
    height: 100vh;
    transform: rotate(-90deg);
    transform-origin: top left;
} */
/* .page {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
} */




/*scroll horizontal*/





/*Header----------------*/
header {
    position: fixed;
    top: 0px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-title-header {
    display: flex;
    gap: 20px;
}

#language-change {
    position: absolute;
    right: 20px;
} 

header ul {
    list-style-type: none;
    display: flex;
    gap:50px;
    font-size: 16px;
}
/*Header----------------*/





/*firstpage Landing Page--------------*/
.page-landing {
   height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.page-landing h1 {
    font-family: var(--font-title);
    font-size: 96px;
    font-weight: lighter;
}

.img-menu1{
    background-image: url(/img/Rectangle\ 78.png);
    width: 230px;
    min-height: 600px ;
    max-height: 612px;
}
.img-menu2{
    background-image: url(/img/Rectangle\ 81.png);
    width: 230px;
    min-height: 600px ;
    max-height: 612px;
}
.img-menu3{
    background-image: url(/img/Rectangle\ 80.png);
    width: 230px;
    min-height: 600px ;
    max-height: 612px;

}
.grid-main-img {
    margin-left: 200px;
    display: flex;
    gap: 25px;
}
/*firstpage Landing Page--------------*/


/*second page News-----------------*/
.page-news {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.news-text-flex {
    display: flex;
    flex-direction: column;
    width: 500px;
}
.main-news {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    width: 100%;

}
#title-article-news {
    font-size: 36px;
   
}
.page-news .title-page {
   align-self: flex-start;
   margin-top: 100px;
}
/*second page News-----------------*/



/*3rd page exhibition---------------*/
.page-exhibition {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.main-exhibition {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    width: 100%;
}
 #grid-exhibition {
     display: grid;
     grid-template-columns:1fr 1fr 1fr 1fr ;
     grid-template-rows:1fr 1fr 1fr ;
     gap: 28px;
 }
 .page-exhibition .title-page {
    align-self: flex-start;
     margin-top: 100px;
 }
/*3rd page exhibition---------------*/
 
/*4rd page Access---------------*/
.page-access {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.main-access {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    width: 100%;
}
#grid-access{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
     justify-items: center;
     align-items: center;
     gap: 20px;
     margin-right: 100px;

}
 .page-access .title-page {
    align-self: flex-start;
    margin-top: 100px;

    
}
#opening-hours {
    grid-area: 1/1/3/2;
    width:335px ;
    text-align: center;
}
#pub-hours {
    width:335px ;
    text-align: center;

}
#img-map {
    grid-area: 2/2/3/3;
}

/*4rd page Access---------------*/

/*5rd page Video---------------*/
.page-video {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-video {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    width: 100%;
}
.page-video .title-page {
    align-self: flex-start;
    margin-top: 100px;
}
.main-video video {
    margin: auto;
}



/*5rd page Video---------------*/


/*6rd page Bio---------------*/
.page-bio {
    height: 100vh;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; */
}

.main-bio {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /*revoir*/
    justify-content: center;
    gap: 50px;
    height: 90vh;
    width: 100%;
}
.page-bio .title-page {
  margin-top: 100px;
}
.text-bio-link {
    width:500px ;
    align-self: center;
}


/*6rd page Bio---------------*/

/*7rd page Subscribe---------------*/

.page-sub {
    height: 100vh;
    width: 100%;

   
}

.main-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 90vh;
    width: 100%;
}
.social-network {
    display: flex;
}
.page-sub .title-page {
  margin-top: 100px;
}




/*7rd page Subscribe---------------*/


/*footer-----------------------*/
footer {
    position:fixed;
    bottom:0px;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
   
}
.nav-all {
    display: flex;
    gap: 40px;
   
}
.navdot {
    width:20px ;
    height: 20px;
    background-color: #C4C4C4;
    border-radius: 50%;

}


/*footer-----------------------*/