@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Play&display=swap");
:root {
  --font-title: "Cinzel", serif;
  --font-text: "Play", sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(36, 36, 31);
  background-image: url(/img/photo-musée_exterieur_background.webp);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: #fff;
  font-family: var(--font-text);
}
/*general----------------*/

.title-page {
  font-size: 4rem;
  font-family: var(--font-title);
  font-weight: normal;
  margin-left: 4rem;
}
.page {
  scroll-snap-align: center;
}
.active-card {
  border: solid 1px rgb(255, 255, 255);
  border-radius: 50px;
  color: rgb(12, 12, 12);
  background-color: #fff;
  font-weight: bold;
  padding: 9px;
}

#left_arrow-main {
  position: absolute;
  left: 10px;
  bottom: 50vh;
  cursor: pointer;
  opacity: 0.1;
}

#right_arrow-main {
  position: absolute;
  right: 10px;
  bottom: 50vh;
  cursor: pointer;
  opacity: 0.1;
}
/*general-----------------*/

/*scroll horizontal*/
.flex {
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(6, 100vw);
  gap: 100em;
}

/*scroll horizontal*/

/*Header----------------*/
header {
  position: fixed;
  top: 0rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  background-color: rgba(189, 190, 189, 0.089);
}
.logo-title-header {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: 10px 0 10px 20px;
}

.list-nav {
  list-style-type: none;
  display: flex;
  gap: 2.5rem;
  font-size: 2rem;
  padding-right: 9.375rem;
}
header a {
  text-decoration: none;
  color: #fff;
}

/*Menu burger responsive*/
.box {
  display: none;
  height: 40px;
  width: 40px;
  position: relative;
  right: 3rem;
}
.cont-lignes {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lignes {
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: #fff;
  position: absolute;
  transition: all 0.5s ease-in-out;
}
.lignes:nth-child(1) {
  top: 0px;
}
.lignes:nth-child(2) {
  top: 18px;
}
.lignes:nth-child(3) {
  top: 36px;
}
.btn1.active .lignes:nth-child(1) {
  top: 18px;
  transform: rotate(135deg);
}
.btn1.active .lignes:nth-child(2) {
  opacity: 0;
  transform: translateX(-20px);
}
.btn1.active .lignes:nth-child(3) {
  top: 18px;
  transform: rotate(-135deg);
}
/*_____________________________________________*/

/*Header----------------*/

/*switch Langue -----------------------*/

.button-langue {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
#button-text {
  padding: 1px 5px 1px 5px;
  border-radius: 28px;
  cursor: pointer;
  border: solid 3px #161618;
  font-size: 2rem;
}

#button-text:hover {
  color: #b6aeae;
  animation: pulsate 1s ease-in-out;
}
@keyframes pulsate {
  0% {
    box-shadow: 0 0 25px #f3b302;
    box-shadow: 0 0 50px #dcee3b;
  }
}
/*switch Langue -----------------------*/

/*firstpage Landing Page--------------*/
.page-landing {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
}

.page-landing h1 {
  font-family: var(--font-title);
  font-size: 18.5rem;
  font-weight: lighter;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-image: url(/img/gold2.jpg);
  background-size: 100%;
}
#main-title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  gap: 3.125rem;
  margin-bottom: 15px;
}
#title-museum_landing-page {
  margin-left: 12.5rem;
}
.img-menu1 {
  background-image: url(/img/skull.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 12vw;
  height: 80vh;
}
.img-menu2 {
  background-image: url(/img/forest-alone.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 12vw;
  height: 80vh;
}
.img-menu3 {
  background-image: url(/img/fond-foret.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 12vw;
  height: 80vh;
}
.grid-main-img {
  display: flex;
  gap: 2rem;
  margin-top: 3.125rem;
  margin-right: 10rem;
}

/*firstpage Landing Page--------------*/

/*2d  page Access Museum---------------*/
.page-access {
  height: 100vh;
  width: 100%;
}
.main-access {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
#grid-access {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 0rem;
  padding: 0 5rem 16.875rem 3.125rem;
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.page-access .title-page {
  align-self: flex-start;
  margin-top: 8rem;
}
#opening-hours {
  grid-area: 2/1/3/2;
  width: 55rem;
  align-self: center;
}
#opening-hours p {
  text-align: center;
  font-size: 2rem;
}
#opening-hours h2 {
  text-align: center;
  font-size: 2.25rem;
}
#img-museum {
  grid-area: 1/1/2/2;
  align-self: flex-end;
  width: 100%; /*test*/
  max-width: 500px;
}
.news-text-flex {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 600px;
  margin: 0 20px 0 20px;
}
#img-psy {
  align-self: flex-end;
  width: 100%; /*test*/
  max-width: 500px;
}
#title-article-news {
  font-size: 2.25rem;
  text-align: center;
}
.paragraphe-news {
  font-size: 2rem;
}
#title-article-news > span {
  font-size: 1.3rem;
  font-weight: lighter;
}

/*2d page Access Museum---------------*/

/*3rd" page GALLERY---------------*/
.page-exhibition {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.main-exhibition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.main-exhibition > h3 {
  font-family: var(--font-text);
  font-size: 3rem;
  margin-bottom: 0;
}
.page-exhibition .title-page {
  position: absolute;
  align-self: flex-start;
  top: 8rem;
  margin-left: 0.5rem;
}
#carrousel-responsive {
  /*carrousel*/
  display: none;
  width: 370px;
  height: 390px;
  border: solid 0.25rem #fff;
  box-shadow: 0 0 0.875rem rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  margin-bottom: 9.375rem;
}
#container-responsive {
  /*carrousel*/
  width: 370px;
  height: 390px;
}
.bouton-responsive {
  /*carrousel*/
  position: absolute;
  width: 3rem;
  cursor: pointer;
  top: 50%;
}
#g-responsive {
  /*carrousel*/
  left: 0;
  opacity: 0.9;
  transition: all 0.3s ease;
}
#d-responsive {
  /*carrousel*/
  right: 0;
  opacity: 0.9;
  transition: all 0.3s ease;
}
#g-responsive:hover {
  /*carrousel*/
  transform: scale(1.1);
  opacity: 1;
}
#d-responsive:hover {
  /*carrousel*/
  transform: scale(1.1);
  opacity: 1;
}
.photo-responsive {
  /*carrousel*/
  width: 370px;
  height: 390px;
  background-position: center;
  margin: 0;
  display: inline-block;
  background-size: cover;
}
#carrousel {
  /*carrousel*/
  width: 800px;
  height: 500px;
  border: solid 0.25rem #fff;
  box-shadow: 0 0 0.875rem rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}
#container {
  /*carrousel*/
  width: 800px;
  height: 500px;
}
.bouton {
  /*carrousel*/
  position: absolute;
  width: 4.375rem;
  cursor: pointer;
  top: 50%;
}
#g {
  /*carrousel*/
  left: 0;
  opacity: 0.9;
  transition: all 0.3s ease;
}
#d {
  /*carrousel*/
  right: 0;
  opacity: 0.9;
  transition: all 0.3s ease;
}
#g:hover {
  /*carrousel*/
  transform: scale(1.1);
}
#d:hover {
  /*carrousel*/
  transform: scale(1.1);
}
.photo {
  /*carrousel*/
  width: 800px;
  height: 500px;
  margin: 0;
  display: inline-block;
  background-size: cover;
}

/*3rd page  GALLERY---------------*/

/*4th page Video---------------*/
.page-video {
  height: 100vh;
  width: 100%;
}
.main-video {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  width: 100%;
}
.page-video .title-page {
  align-self: flex-start;
  margin-top: 8rem;
}
.main-video iframe {
  margin: 0 0 150px 0;
}

/*4th page Video---------------*/

/*5th page Bio---------------*/
.page-bio {
  height: 100vh;
  width: 100%;
}
.main-bio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3.125rem;
  height: 65vh;
  width: 100%;
}
.page-bio .title-page {
  margin-top: 8rem;
}
.text-bio-link {
  width: 90rem;
  font-size: 3rem;
}
.main-bio img {
  margin-bottom: 40px;
}
/*5th page Bio---------------*/

/*6th page Subscribe---------------*/
#iframe-map-responsive {
  display: none;
}
.main-sub {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 15px;
  margin-left: 50px;
}
#iframe-map-desktop {
  border-radius: 10px;
}
.info-sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
  background-color: rgba(51, 45, 45, 0.822);
  color: #a9a9a9;
  width: 700px;
  height: 520px;
  font-size: 30px;
  padding: 10px;
  margin-right: 50px;
  border-radius: 10px;
}
.info-sub H2 {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
form > input {
  padding: 1rem;
  width: 300px;
  height: 20px;
  border-radius: 5px;
}
#btn {
  background-color: rgba(255, 255, 255, 0.61);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  padding: 10px;
  border: none;
  width: 300px;
}
.information {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}
.social_logo {
  display: flex;
  justify-content: center;
  gap: 8rem;
}
button:hover {
  cursor: pointer;
}
.social_logo a {
  transition: all 1s ease-in-out;
}
.social_logo a:hover {
  transform: scale(1.5);
}

/*6th page Subscribe---------------*/

/*footer-----------------------*/
footer {
  position: fixed;
  bottom: 0rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  background-color: rgba(189, 190, 189, 0.089);
}
/*footer-----------------------*/

@media screen and (max-width: 992px) {
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url(/img/corridor.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: #fff;
    font-family: var(--font-text);
  }
  .flex {
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    gap: 0;
    overflow-x: visible;
  }
  .page {
    width: 100%;
  }
  /*Header----------------*/
  header {
    position: fixed;
    top: 0rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .logo-title-header {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    margin-left: 1rem;
    padding-top: 1rem;
  }
  .logo-title-header img {
    width: 15px;
    height: 30px;
    margin-top: 13px;
  }
  .list-nav {
    display: none;
  }
  .box {
    display: block;
  }
  .list-nav.active-burger {
    visibility: visible;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 10px;
  }
  .active-card {
    border: none;
    border-bottom: solid;
    border-radius: 0;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    font-weight: normal;
    padding: 9px;
  }
  /*Header----------------*/
  footer {
    display: none;
  }
  /*general----------------*/

  .title-page {
    font-size: 3rem;
    font-family: var(--font-title);
    font-weight: normal;
    margin-left: 0rem;
    border: solid 1px;
  }
  #left_arrow-main {
    display: none;
  }
  #right_arrow-main {
    display: none;
  }

  /*general-----------------*/

  /*firstpage Landing Page--------------*/
  .page-landing {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
  }
  .page-landing h1 {
    font-family: var(--font-title);
    font-size: 8rem;
    font-weight: normal;
    background-image: url(/img/gold2.jpg);
  }
  #main-title {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    gap: 0.5rem;
    height: auto;
  }
  #title-museum_landing-page {
    margin-left: 0rem;
    margin-top: 5rem;
    position: relative;
  }
  .img-menu1 {
    background-image: url(/img/img-mobile.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    width: 100vw;
    height: 500px;
  }
  .img-menu2 {
    display: none;
  }
  .img-menu3 {
    display: none;
  }
  .grid-main-img {
    display: flex;
    margin-right: 0em;
  }

  /*firstpage Landing Page--------------*/

  /*2d  page Access Museum---------------*/
  .page-access {
    height: auto;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 0;
  }

  .main-access {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
  }
  #grid-access {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px 200px 200px;
    justify-items: center;
    align-items: center;
    gap: 5rem;
    padding: 0;
    font-size: 1rem;
  }
  .page-access .title-page {
    font-size: 3rem;
    margin: 20px 20px 80px 20px;
    text-align: center;
  }
  #opening-hours {
    grid-area: 2/1/3/2;
    width: auto;
    align-self: center;
  }
  #opening-hours > h2 {
    font-size: 1.7rem;
  }
  #opening-hours > p {
    font-size: 1.5rem;
    text-align: center;
  }
  #img-museum {
    grid-area: 1/1/2/2;
    align-self: center;
    width: 100vw;
  }

  .news-text-flex {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 3.75rem;
  }
  #img-psy {
    align-self: center;
    grid-area: 3/1/4/2;
    width: 100vw;
  }
  #title-article-news {
    font-size: 2.25rem;
    border-bottom: solid;
    text-align: center;
  }
  .paragraphe-news {
    font-size: 1.5rem;
    grid-area: 4/1/5/2;
    text-align: center;
  }
  #title-article-news > span {
    font-size: 1rem;
    font-weight: lighter;
  }

  /*2d page Access Museum---------------*/

  /*3rd" page GALLERY---------------*/
  .page-exhibition {
    height: auto;
    width: 100vw;
    display: block;
  }
  .main-exhibition {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 100vw;
  }
  .main-exhibition > h3 {
    font-family: var(--font-text);
    font-size: 2rem;
  }
  #carrousel-responsive {
    display: block;
    margin-bottom: 0;
  }
  #carrousel {
    /*carrousel*/
    display: none;
  }
  .page-exhibition .title-page {
    position: relative;
    align-self: flex-start;
    top: 10px;
    font-size: 3rem;
    text-align: center;
    margin: 0 20px 0 20px;
   
  }
  /*3rd page  GALLERY---------------*/

  /*4th page Video---------------*/
  .page-video {
    height: 500px;
    width: 100vw;
  }
  .main-video {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100vw;
  }
  .page-video .title-page {
    align-self: flex-start;
    margin: 20px 20px 80px 20px;
    font-size: 3rem;
    text-align: center;
  }
  .main-video iframe {
    margin: 0;
    width: 90vw;
    height: 300px;
  }

  /*4th page Video---------------*/

  /*5th page Bio---------------*/
  .page-bio {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .main-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: auto;
    width: 100%;
  }

  .page-bio .title-page {
    font-size: 3rem;
    text-align: center;
    margin: 0 20px 0 20px;
  }
  .text-bio-link {
    width: 80%;
    font-size: 1.9rem;
    text-align: center;
    padding: 5px;
  }

  /*5th page Bio---------------*/

  /*6th page Subscribe---------------*/
  #iframe-map-responsive {
    display: block;
  }
  #iframe-map-desktop {
    display: none;
  }
  .main-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
  }
  .info-sub {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.055);
    color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    padding: 10px;
    margin-right: 0px;
  }
  .info-sub h2 {
    font-size: 4rem;
    text-align: center;
    margin: 0;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9375rem;
  }
  form > input {
    width: 200px;
    height: 10px;
  }
  button {
    background-color: rgba(85, 63, 63, 0.61);
    border-radius: 25px;
    color: white;
    padding: 20px;
    border: none;
    width: 200px;
  }
  .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .social_logo {
    display: flex;
    justify-content: center;
    gap: 5rem;
  }

  /*6th page Subscribe---------------*/
}
