@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Play&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url(/img/fond-giger-png.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: #fff;
    font-family: 'Play', sans-serif;
}
/*Header----------------*/
header {
    position: fixed;
    top: 0px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between
}
.logo-title-header {
    display: flex;
    gap: 20px;
}

#language-change {
    position: absolute;
    right: 20px;
} 

header ul {
    list-style-type: none;
    display: flex;
    gap:50px;
    font-size: 16px;
}
/*Header----------------*/


/*general----------------*/
.paragraphe {
    font-size: 32px;
}
.title-page {
    font-size: 40px;
    font-family: 'Cinzel', serif;
    font-weight: normal;
}
h2 {
    align-self: flex-start;
}
/*general-----------------*/


/*landing page-------------*/
.main-landing-page {
   height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main-landing-page h1 {
    font-family: 'Cinzel', serif;
    font-size: 96px;
    font-weight: lighter;
}
/*landing page-------------*/


/*firstpage Main menu--------------*/

.img-menu1{
    background-image: url(/img/Rectangle\ 78.png);
    width: 230px;
    min-height: 600px ;
    max-height: 612px;
}
.img-menu2{
    background-image: url(/img/Rectangle\ 81.png);
    width: 230px;
    min-height: 600px ;
    max-height: 612px;
}
.img-menu3{
    background-image: url(/img/Rectangle\ 80.png);
    width: 230px;
    min-height: 600px ;
    max-height: 612px;

}
.grid-main-img {
    margin-left: 200px;
    display: flex;
    gap: 25px;
}
/*firstpage Main menu--------------*/



/*second page News-----------------*/
.news-text-flex {
    display: flex;
    flex-direction: column;
    width: 500px;
}
.main-news {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    width: 100%;

}
#title-article-news {
    font-size: 36px;
}
/*second page News-----------------*/



/*3rd page exhibition---------------*/
.main-exhibition {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    width: 100%;
}
 #grid-exhibition {
     display: grid;
     grid-template-columns:1fr 1fr 1fr 1fr ;
     grid-template-rows:1fr 1fr 1fr ;
     gap: 28px;
 }
/*3rd page exhibition---------------*/
 
/*4rd page Access---------------*/

.main-access {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    width: 100%;
}
#grid-access{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}







/*4rd page Access---------------*/


/*footer-----------------------*/
footer {
    position:fixed;
    bottom:0px;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
   
}
.nav-all {
    display: flex;
    gap: 40px;
   
}
.navdot {
    width:20px ;
    height: 20px;
    background-color: #C4C4C4;
    border-radius: 50%;

}
/*footer-----------------------*/